* {
  font-family: "Times New Roman";
  margin:0;
  padding:0;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: #c4c4c4;
  color: #005677;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
}

h2 {
  margin: 30px;
  padding: 30px;
}

h3 {
  background-color: #c4c4c4;
  color: #005677;
  font-weight: bold;
  font-size: 20px;
}

i {
  font-weight: bold;
}

footer {
  background-color: #005677;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.normalice{
  margin:20px;
}

.container{
  display:flex;
}