* {
  font-family: "Times New Roman";
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: #c4c4c4;
  color: #005677;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
}

h2 {
  margin: 30px;
  padding: 30px;
}

h3 {
  background-color: #c4c4c4;
  color: #005677;
  font-weight: bold;
  font-size: 20px;
}

li {
  font-weight: bold;
  font-style: italic;
}

footer {
  background-color: #005677;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
